<br>
<hr>
<br>
<h2 class ="connect">connect</h2>

<div class="social">
<a href="https://www.facebook.com/profile.php?id=100008268156818" <i class="fa fa-facebook"></i></a>
<a href="https://twitter.com/home?lang=en" class="fa fa-twitter"></a>
<a href="https://mail.google.com/mail/u/0/#inbox" class="fa fa-google"></a>
<a href="https://www.instagram.com/" class="fa fa-instagram"></a>
<a href="https://www.youtube.com/" class="fa fa-youtube"></a>
</div>

<footer>&copy; voldemort</footer>