<nav>
  <div class="site-title">
    <a href="/"><h1>My first nodeJs website</h1></a>
    <p>what's your thoughts</p>
  </div>
  <ul>
    <div class="nav">
      <li><a href="/">Feedbacks</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/feedbacks/write">Write a feedback</a></li>
    </div>
  </ul>
</nav>
