<nav>
  <div class="site-title">
    <a href="/"><h1>My first nodeJs website</h1></a>
    <p>It's fun to do web</p>
  </div>
  <ul>
    <li><a href="/">Feedbacks</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/opinion">your opinion</a></li>
  </ul>
</nav>
