<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="not-found content">
      <h2>OOPS, page not found :) OOPS, page not found :)</h2>
      <h3><a class="home" href="/feedbacks">home</a></h3>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
